* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: purple;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.container > * {
  margin: auto;
}

.container a {
  color: white;
}

.container ul {
  list-style: none;
}

.container ul li {
  text-align: center;
}

